* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.netizens-wrapper{
    width: 100%;
    height: 100%;
    max-width: 100%;
    /* padding-top: 20px; */
    background-color: #F5F5F5;
}

.netizens-main-container {
    margin: auto;
    width: 100%;
    max-width: 100%;
    background-color: white;
    font-family: "Poppins", sans-serif; 
    border-radius: 10px;
    display: grid;
    grid-template-areas:
        "phone-header phone-header phone-header phone-header"
        "main-header main-header main-header main-header"
        "banner-area banner-area banner-area banner-area"
        "rating-area rating-area rating-area rating-area"
        "about-left about-left about-right about-right"
        "contact-us-left contact-us-left contact-us-right contact-us-right"
        "footer-logo footer-logo footer-menu-middle footer-menu-right"
        "footer-copyright footer-copyright footer-copyright footer-copyright";
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.netizens-main-container > section.netizens-phone-header-section {
  grid-area: phone-header;
}
.netizens-main-container > header.netizens-header-section {
  grid-area: main-header;
}
.netizens-main-container > section.netizens-banner-section {
  grid-area: banner-area;
}
.netizens-main-container > section.netizens-rating-section {
  grid-area: rating-area;
}

.netizens-main-container > section.netizens-about-left {
  grid-area: about-left;
}
.netizens-main-container > section.netizens-about-right {
  grid-area: about-right;
}
.netizens-main-container > section.netizens-contact-us-left {
  grid-area: contact-us-left;
}
.netizens-main-container > section.netizens-contact-us-right {
  grid-area: contact-us-right;
}

.netizens-main-container > section.netizens-footer-logo {
  grid-area: footer-logo;
}
.netizens-main-container > section.netizens-footer-menu-middle {
  grid-area: footer-menu-middle;
}
.netizens-main-container > section.netizens-footer-menu-right {
  grid-area: footer-menu-right;
}
.netizens-main-container > section.netizens-footer-section {
  grid-area: footer-copyright;
}

.netizens-phone-header-section{
    
    display: flex;
    flex-direction: rows;
    flex-wrap: nowrap;
    justify-content: flex-end;
    background-color: #33A382;
    height: 54px;
    color: white;
    align-items:center
}

.netizens-phone-header-section a {
    color: white;
    text-decoration: none;
    margin-left: 10%;
}
.netizens-phone{
    text-align: right;
    flex-grow: 1;
}

.netizens-contact-top{
    /* margin-left: 40px; */
    flex-grow: 1;
}
.netizens-contact-top img{
    padding-left: 40px;
}
.netizens-top-right{
    text-align: right;
    flex-grow: 3;
}
  
.netizens-top-right ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 140px;
    gap: 1rem;
    justify-content: flex-end;

}
/*****************************************************************/
.netizens-header-section{
    height: 110px;
    background-color: #ECE8FF;
    display: flex;
    justify-content:space-around;align-items: center;
}

.netizens-top-menu ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 140px;
    gap: 1rem;
    justify-content: flex-end;
    
}

.netizens-top-menu a{
    text-decoration: none;
}

.netizens-top-right-icons ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
    justify-content: flex-end;
    
}
/*******************************Burger Menu***********************/
.burger-menu {
  display: none; 
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.burger-line {
  display: block;
  width: 25px;
  height: 3px;
  background: #333;
  margin: 5px 0;
  transition: all 0.3s ease;
}
.burger-toggle {
  display: none;
}
/*****************************************************************/
.netizens-banner-section{
    height: 722px;
    background: url(../images/banner-1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.netizens-rating-section{
    height: 210px;
    background-color: #33A382;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}
.netizens-customer-service-logo div, .netizens-market-competitive-price-logo div, .netizens-customers-all-sizes-logo div {
    margin-top: 25px;
}


/* .netizens-about-section{
    height: 1095px;
    background-color: #F6F4FF;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    border-bottom: 1px solid #C5C0DB;
} */
.netizens-about-left{
    width: 525px;
    max-width: 100%;
}

.netizens-about-right{
    width: 631px;
    max-width: 100%;
}

.netizens-about-right h1{
    font-size: 38px;
    color: purple;
    font-weight: bold;
}

.netizens-about-right h1{
    font-size: 18px;
    color: #535353;
}
.netizens-about-right-discover{
    display: flex;
    align-items: center;
    justify-content:left;
    margin: 20px 0px;
    text-decoration: none;
}
.netizens-about-right-discover img{
    padding-left: 10px;
}
.netizens-about-right span{
    font-size: 20px;
    color: #514688;
}
.banner-slider{
    float: right;
    vertical-align: bottom;
    margin-top: 600px;
    margin-right: 75px;
}
.banner-slider div{
    display: inline-block;
    margin: 10px;
}

.netizens-contact-us-left h1{
    color: purple;
    font-size: 38px;
}
.netizens-contact-us-left p{
    color: purple;
    font-size: 26px;
}
.netizens-contact-facebook-button{
    background-color: #33A382;
    border-radius: 15px;
    width: 160px;
    max-width: 100%;
    height: 48px;
    color: white;
    padding: 5px 15px;
    font-size: 16px;
    text-decoration: none;
}

.netizens-contact-us-right h3{
    color: purple;
    font-size: 25px;
}
.netizens-contact-us-right h1{
    color: green;
    font-size: 40px;
    font-weight: bold;
}
.netizens-field-left, .netizens-field-right{
    width: 48%;
    max-width: 100%;
    margin: 10px 0px;
}
.netizens-form-row{

    padding: 25px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.netizens-contact-us-field input {
    position: relative;
    margin-top: 0px;
    width: 100%;
    max-width: 100%;
    background-color: #F6F4FF;
    text-transform: capitalize;
    font-weight: 600;
    border: 0px;
    outline: 0;
    border-bottom: 1px solid #a7a7a7;
    border-radius: 5px;
}
.netizens-contact-us-field textarea {
    position: relative;
    background-color: #F6F4FF;
    padding: 12px;
    margin-top: 10px;
    width: 100%;
    max-width: 100%;
    text-transform: capitalize;
    font-weight: 600;
    border: 0px;
    outline: 0;
    border-bottom: 1px solid #a7a7a7;
    border-radius: 5px;
}
.netizens-form-submit{
    margin-top: 5px;
}
.netizens-footer-menu-section{
    height: 423px;
    background-color: #F6F4FF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: #535353;
    border-top: 1px #514688 solid;
}
.netizens-footer-menu-section a{ 
    color: #535353;
    text-decoration: none;
    font-size: 15px;
}

.netizens-footer-menu-section ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    text-align: left;
}
.iso-text{
    margin: 25px;
}
.netizens-footer-menu-section h3{ 
    color: #535353;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}
.netizens-footer-section{
    height: 78px;
    background-color: #33A382;
    font-size: 14px;
    vertical-align: middle;
    padding-left: 85px;
    color: white;
    line-height: 6;
}